<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'videoapp/css/index.css' %}">
    <title>Django Video Chat</title>
</head>
<body>
    <div class="container">
        <h1>Django Web Video Chat</h1>
        <h3 id="label-username">Username</h3>
        <div>
            <input type="text" id="username">
            <button id="btn-join">join</button>
        </div>
        <div class="video-grid">
            <div id="'video-container">
                <div>
                    <video id="local-video" autoplay playsinline></video>
                </div>
                <button id="btn-toogle-audio">Audio Mute</button>
                <button id="btn-toogle-video">Video Off</button>
                
            </div>
            <div id="chat">
                <h3>Chat</h3>
                <div id="messages">
                    <ul id="'message-list"></ul>
                </div>
                <input type="text" id="msg">
                <button id="'btn-send-msg">Send</button>
                <button id="btn-share-screen">Share Screen</button>
            </div>
        </div>


        <script src="{% static 'videoapp/js/index.js' %}"></script>
    </div>
</body>
</html>